
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OCR</title>
</head>
<body>
  <h1>OCR</h1>
  {% if text %}
    <p>The recognized text is:</p>
    <p>{{ text }}</p>
  {% else %}
    <p>Please upload an image of Grantha Lipi text to be recognized.</p>
  {% endif %}
  <form action="/ocr" method="post" enctype="multipart/form-data">
    <input type="file" name="image">
    <input type="submit" value="Submit">
  </form>
</body>
</html>